/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.searchboxcn{
    min-height:50px;
    width:90%;
    margin:50px 0 30px 5%;
    padding:0px;
    border:0px dashed orange;
}
.pagecn{
    min-height:700px;
    width:90%;
    margin-left:5%;
    border:0px dashed orange;
}
.pagelinkcn{
    width:50%;margin:40px 5px 0px 0px;
    border:0px dashed red;
    display:none;
    font-size:12px;
}

.pagelink{
    display:block;
    float:right;
    width:auto;
    color:#fff;
    border:0px dashed #fff;
    cursor:pointer;
}

.txtinputbox{
    height:35px;
    width:100%;
    margin:0px 0px 5px 0px;
    padding:10px;
    border:1px solid #ddd;
    border-radius:5px;
}

.loginmsg{
    display:block;
    float:right;
    width:auto;
    color:#777;
}

.divider{
    display:block;
    float:right;
    width:auto;
    color:#fff;
    font-size:10px;
    margin:1px 10px 0px 10px;
}

.createlink, .editlink{
    cursor:pointer;
}

div.progresswrapper{
 position:absolute;
 top:0%;
 left:0%;
 width:100%;
 height:100%;
 background:#fff;
 z-index:2000;
 opacity: 0.9;
 filter: alpha(opacity=90); /* For IE8 and earlier */
}


div.progresscn{
 position:fixed;
 top:40%;
 margin-left:45%;
 width:10%;
 z-index:2001;
}


.queryfield{
    width:99%;
    height:30px;
    margin-right:1%;
}
.queryvalue{
    width:99%;
    height:30px;
    margin-right:1%;
}
.searchbtn{
    height:30px;
    width:80%;
}

